



.project-image{
    background-color: transparent;
    /* height: 500px; */
    margin-left: 33.3% !important;
    border-radius: 10px;
    box-shadow: 0px 2px 5px lightgray;
    margin-bottom: 20px;
    height: auto;
    
    
 }
 
 .project-description{
     background-color: transparent;
     height: auto;
     margin-top: 50px !important;
     position: absolute !important;
     max-width: 750px !important; 
 }

 .project-title{
    color:#1a84ff;
    font-size: small;
    padding-bottom: 0px;
    margin:0px;
    font-family: Roboto Mono,monospace;
 }

 .project-library{
    color:gray;
    font-size: 14px;
    padding-bottom: 0px;
    margin:0px;
    font-family: Roboto Mono,monospace;
    word-spacing: 20px;
    
 }

 .project-heading{
    color:black;
    font-size: 1.5rem;
    font-weight: 700;
    margin:0px;
    line-height: 40px;
    padding:0px;
    margin-bottom: 15px;
 }

 .project-body-allurehome{
    width: 100%;
    background-color: #f798a1;
    height: auto;
    opacity: 1;
    color: white;
    border-radius: 15px;
    margin-bottom: 20px;
    border:1px solid #f798a1;
    padding:0px;
    box-shadow: 0px 2px 5px lightgray;
 }

 .project-body-tendertrackr{
    width: 100%;
    background-color:  #21ad01;
    height: auto;
    opacity: 1;
    color: white;
    border-radius: 15px;
    margin-bottom: 20px;
    border:1px solid #21ad01;
    padding:0px;
    box-shadow: 0px 2px 5px lightgray;
 }

 .project-body-electroerp{
    width: 100%;
    background-color:  #0059BF;
    height: auto;
    opacity: 1;
    color: white;
    border-radius: 15px;
    margin-bottom: 20px;
    border:1px solid #0059BF;
    padding:0px;
    box-shadow: 0px 2px 5px lightgray;
 }

 .project-body-highheels{
    width: 100%;
    background-color:  #d3302f;
    height: auto;
    opacity: 1;
    color: white;
    border-radius: 15px;
    margin-bottom: 20px;
    border:1px solid #d3302f;
    padding:0px;
    box-shadow: 0px 2px 5px lightgray;
 }

 .project-body-craftshome{
    width: 100%;
    background-color:  #D9E9DF;
    height: auto;
    opacity: 1;
    color: #55766f;
    border-radius: 15px;
    margin-bottom: 20px;
    border:1px solid #55766f;
    padding:0px;
    box-shadow: 0px 2px 5px lightgray;
 }

 .about-container {
  width: 100%;
  height: 50px;
  background-color: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  align-items: center;
}

.about-text {
  margin: 0; /* Remove default margin */
  padding-left: 20px; /* Adjust the left padding as needed */
  font-weight: 600;
  font-size: larger;
}

 
 .live-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
    box-shadow: 0px 2px 5px lightgray;
  }
  

 .live-button:hover{
    transform: translateY(-5px);
    transition: transform 0.3s ease, color 0.3s ease;
    box-shadow: 0px 2px 5px #1a84ff;
}

 .main-container{
     margin:0px;
     padding:0px;
     margin-left: 80px;
     margin-right: 80px;
     margin-top: 180px !important;
 }
 
 
 .intro-title{
    color:#1a84ff;
    font-size: medium;
    padding-bottom: 12px;
    margin:0px;
    font-family: Roboto Mono,monospace;
 }
 
 .intro-heading{
     color:black;
     font-size: 3rem;
     font-weight: 800;
     margin:0px;
     line-height: 40px;
     padding:0px;
     margin-bottom: 15px;
     
 }
 
 .intro-sub-heading{
     color:#475569;
     font-size: 2.5rem;
     font-weight: 800;
     margin:0px;
     line-height: 40px;
     padding:0px;
     margin-bottom: 25px;
 }
 
 .intro-description{
     color:#475569;
     font-size: 16px;
     font-weight: 500;
     margin:0px;
     line-height: auto;
     padding:0px;
     margin-bottom: 40px;
 }
   
 .intro-button{
   width: 150px;
   padding:15px;
   background-color: white;
   border-radius: 5px;
   border-color: #1a84ff;
   font-weight: 600;
 }
 
 .intro-button:hover{
     transform: translateY(-5px);
     transition: transform 0.3s ease, color 0.3s ease;
     box-shadow: 0px 2px 5px #1a84ff;
 }
 
 #intro-gif{
   width: 400px;
   height: 400px;
 }
 
 .pr-sub-heading{
     font-size: 30px;
     font-weight: 700;
 }
 
 .profile-image {
     width: 300px;
     height: 300px;
     border-radius: 50%; /* Adjust border-radius for a circular image */
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 0px;
   }
 
 
 .block {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   background-color: #fff; /* Set your desired background color */
   margin: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Set your desired shadow */
 }
 
 .block:hover{
     transform: translateY(-5px);
     transition: transform 0.3s ease, color 0.3s ease;
     box-shadow: 0px 2px 5px #1a84ff;
 }
 
 .block img {
     width: 100%; /* Make sure the image takes the full width of the container */
     height: 100%; /* Make sure the image takes the full height of the container */
     border-radius: 50%; /* To maintain the circular shape */
     object-fit: cover; /* Preserve the aspect ratio of the image */
   }


   /* Add your styles for the slideshow container if needed */
.slideshow-container {
    max-width: 100%; /* Make the container responsive */
    position: relative;
    /* margin: auto; */
    overflow: hidden; /* Ensure the images don't overflow */
  }
  
  .slideshow-container img {
    width: 100%; /* Make the images responsive */
    height: auto;
    
  }

  .project-container{
    border-radius: 10px;
    background-color: transparent;
   
  }

  .demo-heading{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .demo-text{
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .project-content-description{
    font-size: 16px;
  }

  .project-main-container{
    padding-bottom:300px;
  }

  .electro-container{
    padding-bottom: 400px;
  }

  .highheels-details{
    padding-bottom: 300px;
  }
 
 .twitterIcon{
  font-size:33px;
  color: black;
  margin-left: 2px;
}
  
  .twitterIcon:hover{
     color:#1a84ff;
  }
   
 
 
 /* -------------------------media query-------------- */
     /* Media queries for different screen sizes */
     @media (max-width: 206px) {
      .project-image{
          margin-left: 0% !important;

      }

       .project-description{
          margin-top: 0px !important;
          position: relative !important;
          
       }

       .project-main-container{
        padding-bottom:100px;
      }
      }
     @media (max-width: 576px) {
      .project-library{
        
        font-size: 12px;
       
     }

      .project-main-container{
        padding-bottom:100px;
      }

      .project-content-description{
        font-size: 12px;
      }
        .project-image{
            margin-left: 0% !important;

        }

         .project-description{
            margin-top: 0px !important;
            position: relative !important;
            
         }

        
         .main-container{
             margin-left: 0px;
             margin-right: 0px;
             margin-top: 30px !important;
         }
         .intro-title{
             /* color:#1a84ff; */
             font-size: small;
             padding-bottom: 12px;
             margin:0px;
             font-family: Roboto Mono,monospace;
          }
          
          .intro-heading{
              font-size: 2rem;
              margin:0px;
              line-height: 25px;
              margin-bottom: 10px;
              
          }
          
          .intro-sub-heading{
              font-size: 1.5rem;
              line-height: 30px;
              margin-bottom: 15px;
          }
          
          .intro-description{
              font-size: 12px;
              line-height: auto;
              margin-bottom: 30px;
          }
            
          .intro-button{
            width: 120px;
            padding:5px;
            background-color: white;
            border-radius: 5px;
            border-color: #1a84ff;
            font-weight: 500;
            font-size: 12px;
          }
 
          .profile-image {
             
             margin-top: 50px;
           }

           .electro-container{
            padding-bottom: 100px;
          }
          .highheels-details{
            padding-bottom: 100px;
          }

          .pr-sub-heading{
            font-size: 22px;
            font-weight: 700;
        }

        .project-heading{
          
          font-size: 1rem;
          
       }

       .about-text {
        
        padding: 10px; /* Adjust the left padding as needed */
        
        font-size: small;
      }
          
     }
 
     @media (min-width: 577px) and (max-width: 768px) {
        .project-image{
            margin-left: 0% !important;
        }
         .main-container{
             margin-left: 0px;
             margin-right: 0px;
         }

         .project-description{
            margin-top: 0px !important;
            position: relative !important;
         }

         .electro-container{
          padding-bottom: 100px;
        }
        .highheels-details{
          padding-bottom: 100px;
        }

        .pr-sub-heading{
          font-size: 25px;
          font-weight: 700;
      }

      .project-heading{
          
        font-size: 1.2rem;
        
     }

     }
 
     @media (min-width: 769px) and (max-width: 992px) {
       /* Tablets and small laptops */
       .project-image{
        margin-left: 0% !important;
    }
       .main-container{
         margin-left: 100px !important;
         margin-right: 100px !important;
     }
     .project-description{
        margin-top: 0px !important;
        position: relative !important;
     }

     .electro-container{
      padding-bottom: 100px;
    }
    .highheels-details{
      padding-bottom: 100px;
    }

        
     }
 
     @media (min-width: 993px) and (max-width: 1200px) {
       /* Larger laptops and desktops */
       .main-container{
         margin-left: 50px !important;
         margin-right: 50px !important;
     }
      
     }
 
     @media (min-width: 1201px) and (max-width: 1440px) {
       /* Wider screens */
       .main-container{
         margin-left: 0px !important;
         margin-right: 0px !important;
     }
     }
 
     @media (min-width: 1441px) {
       /* 4K and larger screens */
       .main-container{
         margin-left: 0px !important;
         margin-right: 0px !important;
     }
     }